body {
  background-color: rgb(62, 50, 64);
  background-image: url("/pic/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#song{
  width: 400px;
  height: 300px;
  margin: auto;
  justify-content : center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
}

.btn {
  width: 100px;
	height: 60px;
	border-radius: 5px;
	border: #f54e4e;
	background-color: #f54e4e;
	color: #fff;
	transition: 0.5s ease all;
	outline: none;
	cursor: pointer;
	text-align: center;
	margin: auto;
	justify-content : center;

}

.btn:hover {
  color: #f54e4e;
	background-color: #fff;
}

.btn-wrap {
	max-width: 250px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

h1::before {
  content: '';
  display: inline-block;
  margin:0 10px;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
  animation: blink 3s linear infinite;
}

@keyframes blink{
  0%{opacity: 0;}
  25%{opacity: .5;}
  50%{opacity: 1;}
  75%{opacity: .5;}
  100%{opacity: 0;}
}

h1 {
  text-align: center
  float:left;
  margin:10px 50px;
}

DIV {
  text-align: center
}
